@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


main{
    /* margin-top: 80px; */
    gap: 30px;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    header{
        /* width: 100vw; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
}

#mainClaro{
    color: black;
    background-color: white;
}

#mainOscuro{
    color: white;
    background-color: black;
}

a{
    text-decoration-line: none;
}



/* #tarjetas{
    gap: 30px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */