nav{

    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    #divIcon{
        height: 80%;
        img{
            cursor: pointer;
           height: 100%; 
        }
    }
    
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        li{
            list-style: none;
            position: relative;

            .navItem{
                font-size: 1.5rem;
                font-family: "Roboto", sans-serif;
                font-weight: 600;
                text-decoration: none;
                transition: 0.3s ease-in-out;
            }
        }
        
    }

    #mobile{
        display: none;
    }
 }

#oscuro{
    background-color: white;
    .navItem{
        color: black;
    }

    .navItem:hover{
        color: orangered;
    }

    .navItem:hover::after{
        content: "";
        width: 50%;
        height: 2px;
        background: orangered;
        position: absolute;
        bottom: -4px;
        left: 0px;
    }

    #mobile{
        font-size: 1.5rem;
        i{
            color: black;
        }
    }
}

#claro{
    background-color: black;
    .navItem{
        color: white;
    }
    .navItem:hover{
        color: orangered;
    }
    .navItem:hover::after{
        content: "";
        width: 50%;
        height: 2px;
        background: orangered;
        position: absolute;
        bottom: -4px;
        left: 0px;
    }

    #mobile{
        font-size: 1.5rem;
        i{
            color: white ;
        }
    }
}

@media screen and (max-width : 650px){
    nav{
        ul{
            padding: 40px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 80px;
            right: -60%;
            width: 60%;
            height: 100vh;
            gap: 20px;
            transition: 0.3s ease-in-out;
            z-index: 2;
        }

        .ul.active{
            right: 0%;

        }

        #mobile{
            cursor: pointer;
            display: block;
            i{
                font-size: 2rem;
            }
        }
    }

    #oscuro{
        ul{
            background-color: white;
        }
        #mobile:hover{
            
            i{
                color: orangered;
            }
        }
    }

    #claro{
        ul{
            background-color: black;
        }
            #mobile:hover{
            i{
                color: orangered;
            }
        }
    }
}