@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

nav{

    font-size: 2rem;
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;

    #icon{
        height: 80%;
        img{
           height: 100%; 
        }
    }
    ul{
        display: flex;
        list-style: none;
        gap: 20px;
        .itemNav{
            text-decoration: none;
        }
    }
}

#oscuro{
    background-color: white;
    .itemNav{
        color: black;
    }
    .itemNav:hover{
        color: orange;
    }
}

#claro{
    background-color: black;
    .itemNav{
        color: white;
    }
    .itemNav:hover{
        color: orange;
    }
}


