#errorPage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-flow: column wrap; */
    transition: 1s;
    .gif{
        scale: 1;
    }

  
    #btnError{
        width: 150px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;

        a{
            text-decoration: none;
        }
    }


}



.errorClaro{
    background-color: white;

    color: orangered;

    #btnError{
        background-color: black;
        a{
            color: white;
        }
    }

    #btnError:hover{
        background-color: orangered;
        cursor: pointer;
    }
}

.errorOscuro{
    background-color: black;
    color: rgb(227, 17, 227);
    #btnError{
        background-color: white;
        a{
            color: rgb(227, 17, 227);
        }
    }
    
    
    #btnError:hover{
        background-color: orangered;
        cursor: pointer;
        a{
            color: white;
        }
    }
    
}